.challenge-text {
  font-size: clamp(3rem, 6vw, 6rem);
  /* минимальный, оптимальный и максимальный размер */
  font-weight: 400;
  color: #ffffff;
  font-family: 'MoonDance', sans-serif;
  font-style: italic;
  text-align: center;
  margin: 0 auto;
}

.challenge-text-sign {
  font-family: "Reggae One", sans-serif;
  font-size: clamp(2.5rem, 5vw, 5rem);
  color: white;
  margin-left: clamp(0.5rem, 1.2vw, 1.2rem);
}

@media (max-width: 400px) {
  .challenge-text, .challenge-text-sign {
    font-size: 2.25rem;
    margin-bottom: 2rem;
  }
}