/* Общая стилизация страницы */
.start-page {
  color: #ffe81c; /* Жёлтый цвет текста */
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  text-align: center;
  overflow: hidden; /* Для предотвращения появления прокрутки */
}

.content {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.code-text {
  display: flex;
  justify-content: center;
  align-items: baseline;
  height: 180px;
  color: rgba(255, 232, 28, 0);
  -webkit-text-stroke: 7px rgba(255, 232, 28, 1); /* Толщина и цвет обводки */
  font: 400 180px "MajorMonoDisplay-Regular", -apple-system, Roboto, Helvetica,
    sans-serif;
  margin-bottom: 1.5rem;
}

.perspective-container {
  display: flex;
  justify-content: center;
  align-items: baseline;
  gap: 8rem; /* Расстояние между словами */
  perspective: 800px; /* Глубина перспективы */

  margin-top: 2rem; /* Небольшой отступ сверху */
  height: 190px;
  margin-bottom: 6.5rem;
}

.perspective-text {
  font-size: 8.5rem; /* Уменьшаем размер текста */
  text-transform: uppercase;
  text-shadow: 0 2px 10px rgba(0, 0, 0, 0.7);
  color: #ffe81c; /* Цвет текста */
  line-height: 90%;
  transform-origin: top center; /* Точка трансформации сверху */
  font-family: "Anton", sans-serif;
}

.perspective-text:first-child {
  transform: scaleY(2.3) perspective(800px) rotateX(50deg) skewX(-10deg)
    translateX(5%) translateY(-10%);
}

.perspective-text:last-child {
  transform: scaleY(2.3) perspective(800px) rotateX(50deg) skewX(10deg)
    translateX(-5%) translateY(-10%);
}





/* Кнопки */
.button-container {
  display: flex;
  max-width: 100%;
  gap: 50px;
  white-space: nowrap;
  flex-wrap: wrap;
  justify-content: center;
}

.play-button {
  background-color: rgba(255, 232, 28, 1);
  color: rgba(0, 0, 0, 1);
  font-weight: 700;
  font-size: 2.25rem;
  padding: 9.5px 81px;
  border: 1px solid rgba(255, 232, 28, 1);
  transition: all 0.3s ease;
  cursor: pointer;
}

.play-button:hover {
  background-color: transparent;
  border: 1px solid white;
  color: white;
  transition: all 0.3s ease;
}

.info-button {
  overflow: hidden;
  background-color: transparent;
  color: rgba(255, 232, 28, 1);
  font-weight: 300;
  padding: 7.5px 84.5px;
  border: 3px solid rgba(255, 232, 28, 1);
  transition: all 0.3s ease;
  cursor: pointer;
  font-size: 2.25rem;
}

.info-button:hover {
  color: white;
  border: 3px solid white;
  transition: all 0.3s ease;
}

/* Анимации */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slideIn {
  from {
    transform: translateY(-50px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes perspectiveFade {
  from {
    transform: perspective(500px) rotateX(40deg);
    opacity: 0;
  }
  to {
    transform: perspective(500px) rotateX(25deg);
    opacity: 1;
  }
}
