.App-header {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  background-color: #0b001a;
  align-items: center;
}

.App-header a {
  color: #ffd700;
  text-decoration: none;
}

.App-header a:hover {
  color: white;
}

.App-header ul li.active a {
  color: white;
  /* Цвет для активного пункта */
}

.App-header ul li.active:hover a {
  color: #ffd700;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 2rem;
  margin: 0;
  padding: 0;
  align-items: center;
}

nav ul li {
  font-size: 1.7rem;
  color: #ffd700;
}

nav ul li:hover {
  color: white;
}

.social-icons {
  display: flex;
  gap: 1rem;
}

.social-icons a {
  color: white;
  font-size: 1.5rem;
  text-decoration: none;
}

.social-icons a:hover {
  color: #ffd700;
}


.logout-icon {
  display: flex;
  align-items: center;
  perspective: 800px;
}

.logout-button {
  background-color: transparent;
  border: none;
  color: #ffd700;
  font-size: 2rem;
  cursor: pointer;
  display: flex;
}

.logout-button:hover {
  color: white;
}

/* Адаптивность для экранов до 768px (планшеты) */
@media screen and (max-width: 768px) {
  .App-header {
    padding: 0.75rem;
  }

  nav ul {
    align-items: center;
    gap: 1rem;
    justify-content: center;
    align-content: center;
  }

  nav ul li {
    font-size: 1.5rem;
  }

  .social-icons {
    margin-top: 0.5rem;
  }
}

/* Адаптивность для экранов до 480px (телефоны) */
@media screen and (max-width: 480px) {
  .App-header {
    padding: 0.5rem;
  }

  .burger-menu {
    width: auto;
  }

  nav ul {
    gap: 0.5rem;
  }

  nav ul li {
    font-size: 1.2rem;
  }

  .social-icons a {
    font-size: 1.2rem;
  }

}