/* ======================================= */
/*      MovesSidebar.css                  */
/* ======================================= */

/* Контейнер для списка узлов, выезжающий справа */
.node-list-container {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: 120px;
  right: -300px; /* Начинаем за экраном */
  width: 300px;
  min-height: 435px;
  max-height: 635px;
  background-color: #fff; /* светлая подложка */
  border-radius: 25px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  transition: right 1.3s ease-in-out;
  z-index: 2;
  color: white; /* Текст белый */
}

/* Когда класс .visible — контейнер выезжает */
.node-list-container.visible {
  right: 0;
  transition: right 2.3s ease-in-out;
}

/* Стили самой «шапки» списка */
.local-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Список узлов */
.node-list {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

/* Ли-шки подсвечиваются при hover */
.node-list li {
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.node-list li:hover {
  background-color: rgba(169, 169, 169, 0.5) !important;
}

/* Выделенная ли */
.node-list li.highlighted {
  background-color: rgba(169, 169, 169, 0.8);
}

/* Доп. стили для выбранных вершин/дуг (если требуется) */
.node-highlight {
  border-width: 4;
}
.edge-highlight {
  width: 4;
}

/* Если нужен блок «Selected Nodes» */
.selected-nodes-list {
  padding: 15px;
  border-radius: 25px;
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  color: black; /* Внутри белого блока логичнее тёмный текст */
}
